@media screen and (min-width: 992px) {

#home
{
    grid-column: 2;
    display: grid;
    grid-template-rows: 30px 300px 1fr 30px;
    grid-template-columns: 10% 1fr 10% 1fr 10%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.img_bckgrnd
{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.deco
{
    background-color: #424141;
    width: 70%;
    height: 5px;
}

.home_txt
{
    grid-row: 3;
    grid-column: 2;
}

}

@media screen and (max-width: 991px) {

#home
{
    grid-row: 2;
    display: grid;
    grid-template-rows: 30px 300px 1fr 30px;
    grid-template-columns: 10% 1fr 10% 1fr 10%;
}

.img_bckgrnd
{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.deco
{
    background-color: #424141;
    width: 70%;
    height: 5px;
}

.home_txt
{
    grid-row: 3;
    grid-column: 2;
}

}